# Limpieza del conjunto de datos y la estandarizacion del mismo

In [2]:
import pandas as pd

df = pd.read_csv('dataset_unificado.csv')

In [3]:
df.head()

,tipo_crimen,año,mes,provincia,sexo,rango_de_edad,tipo_de_arma_utilizada,distrito
0,Homicidio,2017,Enero,Panama,Masculino,30-34,Arma de Fuego,San Miguelito
1,Homicidio,2017,Enero,Panama,Femenino,10-14,Arma de Fuego,San Miguelito
2,Homicidio,2017,Enero,Panama,Masculino,30-34,Arma de Fuego,San Miguelito
3,Homicidio,2017,Enero,Panama,Masculino,No disponible,Arma de Fuego,San Miguelito
4,Homicidio,2017,Enero,Panama,Femenino,40-44,Arma de Fuego,San Miguelito

## Valores unicos por columna para realizar limpieza estandarizada

In [5]:
df['tipo_crimen'].unique()

array(['Homicidio', 'Femicidio'], dtype=object)

In [6]:
df['año'].unique()

array([2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024])

In [7]:
df['mes'].unique()

array(['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio',
       'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre',
       'julio', 'junio', 'septiembre', 'febrero', 'mayo'], dtype=object)

In [8]:
# Estandarizacion de mes debido a que tiene duplicados
df['mes'] = df['mes'].str.lower().str.capitalize()

In [10]:
sorted(df['mes'].unique())

['Abril',
 'Agosto',
 'Diciembre',
 'Enero',
 'Febrero',
 'Julio',
 'Junio',
 'Marzo',
 'Mayo',
 'Noviembre',
 'Octubre',
 'Septiembre']

In [11]:
df['provincia'].unique()

array(['Panama', 'Panama Oeste', 'Chiriqui', 'Cocle', 'Colon', 'Herrera',
       'Veraguas', 'Bocas del Toro', 'Darien', 'Los Santos',
       'Comarca Ngobe Bugle', 'Comarca Kuna Yala', 'Panamá',
       'Comarca Ngöbe Buglé', 'Bocas Del Toro', 'Chiriquí', 'Colón',
       'Coclé', 'Panamá Oeste', 'San Miguelito', 'Darién', 'veraguas',
       'Comarca Emberá Wounaan', nan, 'Chiriqui\xad',
       'Panama (San Miguelito)', 'Comarca Embera Wounnan',
       'Comarca Ngäbe-Bugle'], dtype=object)

In [14]:
df['provincia'] = df['provincia'].str.lower().str.strip().str.replace('\xad', '', regex=True)

correcciones = {
    'panama': 'Panamá',
    'panamá': 'Panamá',
    'panama oeste': 'Panamá Oeste',
    'panamá oeste': 'Panamá Oeste',
    'panama (san miguelito)': 'San Miguelito',
    'san miguelito': 'San Miguelito',
    'chiriqui': 'Chiriquí',
    'chiriquí': 'Chiriquí',
    'chiriqui': 'Chiriquí',
    'colon': 'Colón',
    'colón': 'Colón',
    'cocle': 'Coclé',
    'coclé': 'Coclé',
    'veraguas': 'Veraguas',
    'herrera': 'Herrera',
    'los santos': 'Los Santos',
    'darien': 'Darién',
    'darién': 'Darién',
    'bocas del toro': 'Bocas del Toro',
    'bocas del toro': 'Bocas del Toro',
    'comarca kuna yala': 'Comarca Kuna Yala',
    'comarca ngobe bugle': 'Comarca Ngäbe Buglé',
    'comarca ngöbe buglé': 'Comarca Ngäbe Buglé',
    'comarca ngäbe-bugle': 'Comarca Ngäbe Buglé',
    'comarca embera wounnan': 'Comarca Emberá Wounaan',
    'comarca emberá wounaan': 'Comarca Emberá Wounaan'
}

df['provincia'] = df['provincia'].replace(correcciones)

df['provincia'] = df['provincia'].str.title()

In [15]:
df['provincia'].unique()

array(['Panamá', 'Panamá Oeste', 'Chiriquí', 'Coclé', 'Colón', 'Herrera',
       'Veraguas', 'Bocas Del Toro', 'Darién', 'Los Santos',
       'Comarca Ngäbe Buglé', 'Comarca Kuna Yala', 'San Miguelito',
       'Comarca Emberá Wounaan', nan], dtype=object)

In [16]:
df['provincia'] = df['provincia'].fillna('No disponible')
df['provincia'].unique()

array(['Panamá', 'Panamá Oeste', 'Chiriquí', 'Coclé', 'Colón', 'Herrera',
       'Veraguas', 'Bocas Del Toro', 'Darién', 'Los Santos',
       'Comarca Ngäbe Buglé', 'Comarca Kuna Yala', 'San Miguelito',
       'Comarca Emberá Wounaan', 'No disponible'], dtype=object)

In [17]:
df['sexo'].unique()

array(['Masculino', 'Femenino', 'No disponible'], dtype=object)

In [18]:
df['rango_de_edad'].unique()

array(['30-34', ' 10-14', 'No disponible', '40-44', '35-39', '25-29',
       '18-24', '55-59', '15-17', '0-4', '50-54', '45-49', ' 5-9',
       '80 y mas', '60-64', '65-69', '75-79', '70-74', '5-9', '10-14',
       'Sin Determinar', '35-39 ', '30-34 ', '18-24 ', '25-29 ', '40-44 ',
       '45-49 ', '50-54 ', '15-17 ', '0-4 ', '70-74 ', '65-69 ', '60-64 ',
       '55-59 ', '80 y más años', '10-14.', '5-9.', '18-24 años',
       '25-29 años', '40-44 años', '35-39 años', '50-54 años',
       '60-64 años', '0-4 años', '30-34 años', '65-69 años', '10-14 años',
       '55-59 años', '70-74 años', '15-17 años', '45-49 años',
       '75-79 años', '05-09 años', '10-14 ', '05-09 ', '80 y mÃ\x83Â¡s ',
       'Sin determinar', '75-79 '], dtype=object)

In [19]:
# Normalizacion de los datos de la columna rango de edad porque estan destruidos completamente
df['rango_de_edad'] = (
    df['rango_de_edad']
    .astype(str)
    .str.lower()
    .str.strip()
    .str.replace(r'[^\w\s-]', '', regex=True) # ESTO ELIMINA PUNTOS Y SIMBOLOS GRACIAS KAPELL
    .str.replace('años', '', regex=False)
    .str.replace('mas', '80 y más', regex=False)
    .str.replace('más', '80 y más', regex=False)
    .str.replace('mÃ\x83Â¡s', '80 y más', regex=False)
)

correcciones = {
    'no disponible': 'No disponible',
    'sin determinar': 'No disponible',
    '05-09': '5-9',
    '05-09 ': '5-9',
    '5-9.': '5-9',
    '5-9 ': '5-9',
    ' 5-9': '5-9',
    '10-14.': '10-14',
    '10-14 ': '10-14',
    ' 10-14': '10-14',
    '10-14 años': '10-14',
    '18-24 años': '18-24',
    '25-29 años': '25-29',
    '30-34 años': '30-34',
    '35-39 años': '35-39',
    '40-44 años': '40-44',
    '45-49 años': '45-49',
    '50-54 años': '50-54',
    '55-59 años': '55-59',
    '60-64 años': '60-64',
    '65-69 años': '65-69',
    '70-74 años': '70-74',
    '75-79 años': '75-79',
    '80 y mas': '80 y más',
    '80 y más años': '80 y más',
    '75-79 ': '75-79',
    '35-39 ': '35-39',
    '30-34 ': '30-34',
    '18-24 ': '18-24',
    '25-29 ': '25-29',
    '40-44 ': '40-44',
    '45-49 ': '45-49',
    '50-54 ': '50-54',
    '15-17 ': '15-17',
    '0-4 ': '0-4',
    '70-74 ': '70-74',
    '65-69 ': '65-69',
    '60-64 ': '60-64',
    '55-59 ': '55-59',
}

df['rango_de_edad'] = df['rango_de_edad'].replace(correcciones)

df['rango_de_edad'] = df['rango_de_edad'].str.strip()

In [21]:
print(sorted(df['rango_de_edad'].unique()))

['0-4', '10-14', '15-17', '18-24', '25-29', '30-34', '35-39', '40-44', '45-49', '5-9', '50-54', '55-59', '60-64', '65-69', '70-74', '75-79', '80 y 80 y 80 y más', '80 y 80 y más', '80 y mãâs', 'No disponible']

In [22]:
df['rango_de_edad'] = (
    df['rango_de_edad']
    .astype(str)
    .str.lower()
    .str.strip()
    .str.replace(r'[^\w\s-]', '', regex=True)
    .str.replace('años', '', regex=False)
)

df['rango_de_edad'] = df['rango_de_edad'].replace({
    '80 y 80 y más': '80 y más',
    '80 y 80 y 80 y más': '80 y más',
    '80 y mãâs': '80 y más',
    '80 y mas': '80 y más',
    '80 y más años': '80 y más',
    '80 y más ': '80 y más',
})

correcciones = {
    'no disponible': 'No disponible',
    'sin determinar': 'No disponible',
    '05-09': '5-9',
    '05-09 ': '5-9',
    '5-9.': '5-9',
    '5-9 ': '5-9',
    ' 5-9': '5-9',
    '10-14.': '10-14',
    '10-14 ': '10-14',
    ' 10-14': '10-14',
    '10-14 años': '10-14',
    '18-24 años': '18-24',
    '25-29 años': '25-29',
    '30-34 años': '30-34',
    '35-39 años': '35-39',
    '40-44 años': '40-44',
    '45-49 años': '45-49',
    '50-54 años': '50-54',
    '55-59 años': '55-59',
    '60-64 años': '60-64',
    '65-69 años': '65-69',
    '70-74 años': '70-74',
    '75-79 años': '75-79',
    '75-79 ': '75-79',
    '35-39 ': '35-39',
    '30-34 ': '30-34',
    '18-24 ': '18-24',
    '25-29 ': '25-29',
    '40-44 ': '40-44',
    '45-49 ': '45-49',
    '50-54 ': '50-54',
    '15-17 ': '15-17',
    '0-4 ': '0-4',
    '70-74 ': '70-74',
    '65-69 ': '65-69',
    '60-64 ': '60-64',
    '55-59 ': '55-59',
}

df['rango_de_edad'] = df['rango_de_edad'].replace(correcciones)

In [23]:
print(sorted(df['rango_de_edad'].unique()))

['0-4', '10-14', '15-17', '18-24', '25-29', '30-34', '35-39', '40-44', '45-49', '5-9', '50-54', '55-59', '60-64', '65-69', '70-74', '75-79', '80 y más', 'No disponible']

In [33]:
df['tipo_de_arma_utilizada'].unique()

array(['Arma de Fuego', 'No disponible', 'Arma Blanca',
       'Objeto Contundente', 'asfixia mecánica', 'Incendiarismo',
       'intoxicación', 'Golpes', 'Calcinado'], dtype=object)

In [36]:
# Normalizacion de armas

df['tipo_de_arma_utilizada'] = (
    df['tipo_de_arma_utilizada']
    .astype(str)
    .str.lower()
    .str.strip()
    .str.replace(r'[^\w\s-]', '', regex=True)
)

correcciones = {
    'arma de fuego': 'Arma de Fuego',
    'arma blanca': 'Arma Blanca',
    'objeto contundente': 'Objeto Contundente',
    'asfixia mecanica': 'Asfixia Mecánica', 
    'intoxicacion': 'Intoxicación',         
    'golpes': 'Golpes',
    'calcinado': 'Calcinado',
    'incendiarismo': 'Incendiarismo',
    'no disponible': 'No disponible',
    'sin determinar': 'No disponible',
    'asfixia mecanica': 'Asfixia Mecánica',
    'asfixia mecánica': 'Asfixia Mecánica',
    'intoxicacion': 'Intoxicación',
    'intoxicación': 'Intoxicación'
}

# Paso 3: Aplicar correcciones
df['tipo_de_arma_utilizada'] = df['tipo_de_arma_utilizada'].replace(correcciones)

# Paso 4: Verifica el resultado
print(sorted(df['tipo_de_arma_utilizada'].unique()))

['Arma Blanca', 'Arma de Fuego', 'Asfixia Mecánica', 'Calcinado', 'Golpes', 'Incendiarismo', 'Intoxicación', 'No disponible', 'Objeto Contundente']

In [37]:
df['distrito'].unique()

array(['San Miguelito', 'No disponible', nan], dtype=object)

In [38]:
df = df.drop('distrito', axis = 1)

In [39]:
df.head()

,tipo_crimen,año,mes,provincia,sexo,rango_de_edad,tipo_de_arma_utilizada,provinia
0,Homicidio,2017,Enero,Panamá,Masculino,30-34,Arma de Fuego,panama
1,Homicidio,2017,Enero,Panamá,Femenino,10-14,Arma de Fuego,panama
2,Homicidio,2017,Enero,Panamá,Masculino,30-34,Arma de Fuego,panama
3,Homicidio,2017,Enero,Panamá,Masculino,No disponible,Arma de Fuego,panama
4,Homicidio,2017,Enero,Panamá,Femenino,40-44,Arma de Fuego,panama

In [41]:
df.to_csv('dataset_unificado_normalizado.csv', index=False, encoding='utf-8')