<a href="https://colab.research.google.com/github/sadhub10/Colabs-de-Clases/blob/main/Clase%201%20y%202%20-%20Capitulo%202%20-%20PYTHON%20-%2028/08/25.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **LISTAS**

In [ ]:
lista_frutas = ["Melocotón","Sandia","Banana"]
print(lista_frutas)
print(lista_frutas[0])

['Melocotón', 'Sandia', 'Banana']
Melocotón

## Función Len()

In [ ]:
frutas = ["manzana", "cambur", "cereza", "fresa"]
print(frutas)
print(len(frutas))

['manzana', 'cambur', 'cereza', 'fresa']
4

# Indexación

La indexación es la forma de acceder a elementos individuales dentro de una secuencia ordenada, como una lista, tupla o cadena de texto, utilizando su posición o índice.

In [ ]:
# Acceder a un elemento por su índice positivo
primer_fruta = frutas[0]  # "manzana"
tercer_fruta = frutas[2]  # "cereza"

# Acceder a un elemento por su índice negativo
ultima_fruta = frutas[-1]  # "fresa"
penultima_fruta = frutas[-2] # "cereza"

print(f"La primera fruta es: {primer_fruta}")
print(f"La última fruta es: {ultima_fruta}")

La primera fruta es: manzana
La última fruta es: fresa

ver una imagen de ejemplo

# Adición de Listas

In [ ]:
Lista1 = ["Mamón","Piña","Mandarina"]
Lista2 = ["Melocotón","Sandia"]
Lista3 = Lista1 + Lista2
print(Lista3)

['Mamón', 'Piña', 'Mandarina', 'Melocotón', 'Sandia']

realizar ejempplos

# Método append()

In [ ]:
# Lista inicial de carros de lujo
carros_lujo = ["Ferrari", "Lamborghini"]

# Usando append() para añadir un nuevo carro al final de la lista
carros_lujo.append("Rolls-Royce")

# Imprimir la lista modificada
print(carros_lujo)

['Ferrari', 'Lamborghini', 'Rolls-Royce']

# Método extend()

In [ ]:
carros_lujo = ["Ferrari", "Lamborghini"]

# Usando extend() para añadir una nueva lista de carros de lujo
nuevos_carros = ["Mercedes-Benz", "BMW"]
carros_lujo.extend(nuevos_carros)

print(carros_lujo)

['Ferrari', 'Lamborghini', 'Mercedes-Benz', 'BMW']

# Borrado con la palabra (Del)

In [ ]:
frutas = ["manzana", "cambur", "cereza", "fresa"]
print(frutas)
del frutas[1]
print(frutas)

['manzana', 'cambur', 'cereza', 'fresa']
['manzana', 'cereza', 'fresa']

# Método Pop

Este método elimina un elemento de una posición específica y lo devuelve. Si no se especifica un índice, elimina y devuelve el último elemento.

In [ ]:
frutas = ["manzana", "banana", "cereza"]
fruta_eliminada = frutas.pop()
print(frutas)
print(f"Elemento eliminado: {fruta_eliminada}")

['manzana', 'banana']
Elemento eliminado: cereza

In [ ]:
carros = ["Toyota", "Honda", "Ford", "Chevrolet"]
carro_eliminado = carros.pop(-2)
print(carros)
print(f"Elemento eliminado: {carro_eliminado}")

['Toyota', 'Honda', 'Chevrolet']
Elemento eliminado: Ford

# Método Remove

In [ ]:
frutas = ["Mango", "kiwi", "Mango"]
frutas.remove("Mango")
print(frutas)

['kiwi', 'Mango']

### **Otros métodos**

1.   clear()
2.   count()
3.   sort()
4.   reverse()

# **TUPLAS**

In [ ]:
# Crear una tupla simple
mi_tupla = (1, 2, 3, "cuatro", "cinco")

# Imprimir la tupla
print(mi_tupla)

(1, 2, 3, 'cuatro', 'cinco')

In [ ]:
# Creación de una tupla con los meses del año
meses = ("Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio",
         "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre")

# Acceder a un mes específico usando su índice (recuerda que el índice 0 es el primero)
print(f"El primer mes del año es: {meses[0]}")
print(f"El mes 8 es: {meses[7]}")

# Usar la indexación negativa para acceder al último mes
print(f"El último mes del año es: {meses[-1]}")

# Iterar sobre la tupla para imprimir todos los meses
print("\nLos meses del año son:")
for mes in meses:
    print(mes)

El primer mes del año es: Enero
El mes 8 es: Agosto
El último mes del año es: Diciembre

Los meses del año son:
Enero
Febrero
Marzo
Abril
Mayo
Junio
Julio
Agosto
Septiembre
Octubre
Noviembre
Diciembre

# **DICCIONARIOS**

In [ ]:
# Creación de un diccionario
persona = {
    "nombre": "Ana", #Elemento 1
    "edad": 28,      #Elemento 2
    "peso": 60
}

# Acceder a un valor usando su clave
print(f"El nombre es: {persona['nombre']}")
print(f"La edad es: {persona['edad']}")

# Modificar un valor
persona["edad"] = 29
print(f"\nLa nueva edad es: {persona['edad']}")

# Añadir un nuevo Elemento dado por el par de clave:valor
persona["profesion"] = "Derecho"
print(persona)

# Eliminar un Elemento dado por el par de clave:valor
del persona["peso"]
print(persona)

len(persona)

El nombre es: Ana
La edad es: 28

La nueva edad es: 29
{'nombre': 'Ana', 'edad': 29, 'peso': 60, 'profesion': 'Derecho'}
{'nombre': 'Ana', 'edad': 29, 'profesion': 'Derecho'}

3

# Método Keys()

Devuelve un objeto tipo vista que contiene todas las claves del diccionario.

In [ ]:
persona = {"nombre": "Ana", "edad": 28}
print(persona.keys())

dict_keys(['nombre', 'edad'])

# Método Values()

Devuelve un objeto tipo vista que contiene todos los valores del diccionario.

In [ ]:
persona = {"nombre": "Ana", "edad": 28}
print(persona.values())

dict_values(['Ana', 28])

# Iterar con los Diccionarios

In [ ]:
# Diccionario de Contactos
contactos = {
    'Juan': '+58-912345678',
    'Ana': '+507-987654321',
    'Pedro': '+86-955555555'
}
print(contactos)

{'Juan': '+58-912345678', 'Ana': '+507-987654321', 'Pedro': '+86-955555555'}

## Cómo Iterar Sobre las Claves?

In [ ]:
print("Iterando sobre las claves:")
for clave in contactos.keys():
    print(clave)

Iterando sobre las claves:
Juan
Ana
Pedro

## Cómo Iterar Sobre los Valores?

In [ ]:
print("Iterando sobre los valores")
for valor in contactos.values():  #Pero por qué values()?
    print(valor)

Iterando sobre los valores
Juan
Ana
Pedro

## Cómo Iterar Sobre los Dos?

In [ ]:
print("--- Iterando sobre claves y valores ---")
# Iterar sobre claves y valores al mismo tiempo
for clave, valor in contactos.items():
    print(f"El telefono de: {clave}, es: {valor}")

--- Iterando sobre claves y valores ---
El telefono de: Juan, es: +58-912345678
El telefono de: Ana, es: +507-987654321
El telefono de: Pedro, es: +86-955555555

# Método Setdefault()

El método setdefault() en un diccionario de Python se usa para obtener el valor de una clave.

In [ ]:
puntuaciones = {
    'Ana': 66,
    'Luis': 88
}
print(puntuaciones.setdefault('Luis', 78))

# 1. La clave 'Ana' ya existe
# setdefault() devuelve el valor de 'Ana' (95) y el diccionario no cambia
puntuacion_ana = puntuaciones.setdefault('Ana', 95)
print(f"Puntuación de Ana: {puntuacion_ana}")
print("Diccionario después de la operación (sin cambios):", puntuaciones)

print("-" * 30)

# 2. La clave 'Pedro' no existe
# setdefault() añade 'Pedro' con el valor predeterminado (0) y lo devuelve
puntuacion_pedro = puntuaciones.setdefault('Pedro', )
print(f"Puntuación de Pedro: {puntuacion_pedro}")
print("Diccionario después de la operación (con Pedro añadido):", puntuaciones)

88
Puntuación de Ana: 66
Diccionario después de la operación (sin cambios): {'Ana': 66, 'Luis': 88}
------------------------------
Puntuación de Pedro: None
Diccionario después de la operación (con Pedro añadido): {'Ana': 66, 'Luis': 88, 'Pedro': None}

In [ ]:
puntuaciones = {
    'Ana': 66,
    'Luis': 88
}

# 1. La clave 'Ana' ya existe
# setdefault() devuelve el valor de 'Ana' (95) y el diccionario no cambia
puntuacion_ana = puntuaciones.setdefault('Ana', 95)
print(f"Puntuación de Ana: {puntuacion_ana}")
print("Diccionario después de la operación (sin cambios):", puntuaciones)

Puntuación de Ana: 66
Diccionario después de la operación (sin cambios): {'Ana': 66, 'Luis': 88}

In [ ]:
puntuaciones = {
    'Ana': 95,
    'Luis': 88
}

# 1. La clave 'Ana' ya existe
# setdefault() devuelve el valor de 'Ana' (95) y el diccionario no cambia
puntuacion_ana = puntuaciones.setdefault('Ana', 0)
print(f"Puntuación de Ana: {puntuacion_ana}")
print("Diccionario después de la operación (sin cambios):", puntuaciones)

Puntuación de Ana: 95
Diccionario después de la operación (sin cambios): {'Ana': 95, 'Luis': 88}

# Método get()

 Devuelve el valor de la clave especificada. Es más seguro que la indexación con corchetes porque si la clave no existe, devuelve None en lugar de un error.

In [ ]:
persona = {"nombre": "Ana", "edad": 28}
print(persona.get("nombre"))
print(persona.get("ciudad"))

Ana
None

# Método pop()

 Elimina el par clave: valor de la clave especificada y devuelve su valor

In [ ]:
persona = {"nombre": "Ana", "edad": 28}
edad = persona.pop("edad")
print(persona)
print(f"La edad eliminada es: {edad}")

{'nombre': 'Ana'}
La edad eliminada es: 28

# Método update()

 Añade elementos de otro diccionario o de cualquier par de clave: valor al diccionario actual.

In [ ]:
persona = {"nombre": "Ana"}
datos_adicionales = {"edad": 28, "ciudad": "Madrid"}
persona.update(datos_adicionales)
print(persona)

{'nombre': 'Ana', 'edad': 28, 'ciudad': 'Madrid'}

# Método clear()

Elimina todos los elementos del diccionario, dejándolo vacío.

In [ ]:
persona = {"nombre": "Ana", "edad": 28}
persona.clear()
print(persona)

{}

# **JSON**

### En resumen es un formato de texto ligero para el intercambio de datos. Es muy popular para comunicarnos con APIs y servicios web.

# Similitudes Formato JSON Y DICCIONARIOS

In [ ]:
// Objeto JSON
{
  "nombre": "Ana",
  "edad": 28,
  "habilidades": ["Python", "SQL"]
}

In [ ]:
# Diccionario de Python
datos_persona = {
  "nombre": "Ana",
  "edad": 28,
  "habilidades": ["Python", "SQL"]
}

# Cómo Trabajar con JSON en Python

Python tiene un módulo incorporado llamado json que te permite convertir entre diccionarios de Python y cadenas de texto JSON.

*  json.loads(): Convierte una cadena JSON en un diccionario de Python.
*  json.dumps(): Convierte un diccionario de Python en una cadena JSON.

In [ ]:
import json
# Connverción archivo
with open('data.json') as json_file:
    data = json.load(json_file)
    print(data)

In [ ]:
import json
json_string = '{"nombre": "Ana", "edad": 28, "ciudad": "Madrid"}'
datos_persona = json.loads(json_string)
print(datos_persona)
type(datos_persona)

{'nombre': 'Ana', 'edad': 28, 'ciudad': 'Madrid'}

dict

In [ ]:
# Diccionario de Python
datos_persona = {"ciudad": ["Madrid", "Paris"],  "profesion": "Ingeniera"}

# Convertir diccionario de Python a cadena JSON
json_salida = json.dumps(datos_persona)
print(json_salida, end =  "  ") # Output: {"ciudad": "Madrid", "profesion": "Ingeniera"}
type (json_salida)

{"ciudad": ["Madrid", "Paris"], "profesion": "Ingeniera"}

str

Realiza Ejemplos: de lista a JSON

In [ ]:
#xonvertir json a listas
json_frutas = '["manzana", "banana", "cereza"]'
lista_frutas = json.loads(json_frutas)
print(lista_frutas)
type(lista_frutas)

['manzana', 'banana', 'cereza']

list

In [ ]:
#convertir listas a Json
lista_frutas = ["manzana", "banana", "cereza"]
json_frutas = json.dumps(lista_frutas)
print(json_frutas)
type(json_frutas)

["manzana", "banana", "cereza"]

str

# **CONJUNTOS**

In [ ]:
# Creando un conjunto con llaves {}
colores = {"rojo", "verde", "azul"}

# Imprimiendo el conjunto
print(colores)

{'verde', 'rojo', 'azul'}

# Operaciones Básicas de Conjuntos (set)

## Método add()

El método .add() añade un elemento a un conjunto. Si el elemento ya existe, el conjunto no cambia.

In [ ]:
carros = {"Toyota", "Honda", "Ford"}
carros.add("Chevrolet")
print(carros)

{'Toyota', 'Chevrolet', 'Honda', 'Ford'}

## Método remove()

El método .remove() elimina un elemento; si el elemento no está en el conjunto, se produce un error.

In [ ]:
carros = {"Toyota", "Honda", "Ford"}
carros.remove("Toyota")
carros.add("Chevrolet")
print(carros)

{'Chevrolet', 'Honda', 'Ford'}

Los conjuntos son muy útiles para limpiar listas que tienen elementos repetidos.

In [ ]:
# Ejemplo de eliminación de duplicados
numeros_duplicados = [1, 2, 2, 3, 4, 4, 5]
conjunto_numeros = set(numeros_duplicados)
print(conjunto_numeros)

{1, 2, 3, 4, 5}

También son excelentes para operaciones de conjuntos como la unión, la intersección y la diferencia.

## Método Unión

El método .union() (o el operador |) crea un nuevo conjunto que contiene todos los elementos de ambos conjuntos, sin duplicados.

In [ ]:
A = {'perro', 'gato', 'loro'}
B = {'gato', 'conejo', 'serpiente'}

union_conjuntos = A.union(B)
print(f"Unión usando el método .union(): {union_conjuntos}")

Unión usando el método .union(): {'loro', 'gato', 'conejo', 'perro', 'serpiente'}

In [ ]:
#conjuntos de paises, método unión "|"
paises1 = {"Francia","Argentina","Venezuela","Panamá"}
paises2 = {"India","Finlandia","Iran","Alemania"}
union_paises = paises2 | paises1
print(f"Unión usando el operador |: {union_paises}")

Unión usando el operador |: {'Argentina', 'Finlandia', 'India', 'Francia', 'Alemania', 'Iran', 'Venezuela', 'Panamá'}

## Método Intersección

El método .intersection() (o el operador &) devuelve un nuevo conjunto con los elementos que son comunes a ambos conjuntos.

In [ ]:
A = {'perro', 'gato', 'loro'}
B = {'gato', 'conejo', 'serpiente'}

interseccion_conjuntos = A.intersection(B)
print(f"Intersección usando el método .intersection(): {interseccion_conjuntos}")

Intersección usando el método .intersection(): {'gato'}

In [ ]:
#conjuntos de numeros, método intersección "&"
numeros1 = {1, 2, 6, 4, 5}
numeros2 = {9, 12, 5, 6, 10}
interseccion_numeros = numeros1 & numeros2
print(interseccion_numeros)

{5, 6}

## Método Diferencia

El método .difference() (o el operador -) devuelve un nuevo conjunto con los elementos que están en el primer conjunto, pero no en el segundo.

In [ ]:
A = {'perro', 'gato', 'loro'}
B = {'gato', 'conejo', 'serpiente'}

diferencia_conjuntos = B.difference(A)
print(f"Diferencia A - B (método .difference()): {diferencia_conjuntos}")

Diferencia A - B (método .difference()): {'serpiente', 'conejo'}

In [ ]:
#conjuntos de carros, método de intersección "-"
carros1 = {"Toyota", "Honda", "Ford"}
carros2 = {"Honda", "Chevrolet", "Ford"}
diferencia_carros = carros1 - carros2
print(diferencia_carros)

{'Toyota'}

# **LISTAS BIDIMENSIONALES**

### Las listas bidimensionales son listas anidadas dentro de otra lista, creando una estructura de datos que se asemeja a una tabla o una matriz Cada lista interna (o sub-lista) representa una fila, y los elementos dentro de cada sub-lista representan las columnas.

In [ ]:
# Lista unidimensional (una fila)
lista_simple = [1, 2, 3, 4]

# Lista bidimensional (una matriz 3x3)
matriz = [
    [1, 2, 3],  # Fila 0
    [4, 5, 6],  # Fila 1
    [7, 8, 9]   # Fila 2
]

realizar ejemplos

In [ ]:
#realizar una matriz 3x3
matriz = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]
print(matriz)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [ ]:
lista_frutas = [
    ["manzana", "banana", "cereza"],
    ["mango", "kiwi", "naranja"],
    ["pera", "uva", "sandia"]
    ]

print(lista_frutas[2][1])

uva

In [ ]:
# El jugador 'X' hace un movimiento
# Posición:(índices 1, 0)
tablero = [
    [' ', ' ', ' '],
    [' ', ' ', ' '],
    [' ', ' ', ' ']
]
tablero[1][1] = 'X'

# Imprimimos el tablero actualizado para ver el cambio
for fila in tablero:
    print(fila)

[' ', ' ', ' ']
[' ', 'X', ' ']
[' ', ' ', ' ']

## Bucles For*

El objetivo de un bucle for en las listas bidimensionales es recorrer y acceder a cada uno de sus elementos de forma organizada. Dado que una lista bidimensional es una "lista de listas", necesitas una manera de acceder a cada lista interna y, a su vez, a cada elemento dentro de esas listas.

In [ ]:
list_array = [
    [1,2,3],
    [4,5,6],
    [7,8,9]
    ]
for i in list_array:
    print(i)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [ ]:
matriz = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

for fila in matriz:
    for elemento in fila:
        print(elemento, end='  ')
    print()

1  2  3
4  5  6
7  8  9

# **Práctica**

# **Misión**:

Administrar el Inventario Digital de una Tienda 🛍️ llamada "MI CASITA FELIZ"
En esta semana hemos aprendido sobre las listas, los diccionarios y los formatos JSON. Ahora, es momento de poner todo en práctica con un ejercicio que simula una tarea real en una tienda.

Nuestra misión es crear un pequeño programa en Python para gestionar un inventario de productos. El programa debe realizar tres pasos clave, demostrando tu habilidad para manejar y transferir datos.



1.   Crear el Inventario:
2.   Guárdalo para Viajar (Serialización a JSON):
3.   Reciba y Lea el Inventario (Deserialización):

In [ ]:
#Paso nro 1
inventario = [{"nombre":"sweters", "cantidad": 5, "precio": 25},
              {"nombre":"soda", "cantidad": 10, "precio": 0.65},
              {"nombre":"Guaba", "cantidad": 20 , "precio": 0.75}
              ]
print(inventario)

[{'nombre': 'sweters', 'cantidad': 5, 'precio': 25}, {'nombre': 'soda', 'cantidad': 10, 'precio': 0.65}, {'nombre': 'Guaba', 'cantidad': 20, 'precio': 0.75}]

In [ ]:
import json

#Abriendo
inventario_json = open("inventario.json", "w")
#Convertir
json.dump(inventario, inventario_json, indent = 4)
#Cerrando
inventario_json.close()

print("Inventario guardado en inventario.json")

Inventario guardado en inventario.json

In [ ]:
#Abriendo
inventario_json = open("inventario.json", "r")
#Convertir
inventario_diccionario = json.load(inventario_json)
#Cerrando
inventario_json.close()
print(inventario_diccionario)

[{'nombre': 'sweters', 'cantidad': 5, 'precio': 25}, {'nombre': 'soda', 'cantidad': 10, 'precio': 0.65}, {'nombre': 'Guaba', 'cantidad': 20, 'precio': 0.75}]